# Compiled output
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log

# Angular
/.angular/cache

# Test
/coverage
/playwright-report
/test-results

# IDE
.idea/
.vscode/

# System
.DS_Store
Thumbs.db
